.courses-list {
  display: grid;
  grid-template-columns:  repeat(4, 1fr);
  column-gap: 1rem;
  row-gap: 1.5rem;
}

.courses-list li {
  width: fit-content;
  border-radius: 0.5rem;
  width: 100%;
}

.course {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  transition: scale 0.2s linear;
}

.course-img {
  min-width: 250px;
  width: 100%;
  height: 150px;
  border-radius: 0.5rem;
  position: relative;
}

.course-img > p::first-letter {
  text-transform: capitalize;
}

.course-img > p {
  position: absolute;
  background-color: #9b9b9ba2;
  padding-inline: 0.5rem;
  padding-block: 0.2rem;
  border-radius: 0.5rem;
  font-size: 0.7rem;
  font-weight: bold;
  top: 5px;
  left: 5px;
}

.course-img img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.course-title::first-letter {
  text-transform: capitalize;
}
.course-title {
  font-weight: bold;
}
.course:hover {
  scale: 1.01;
}
.course-type {
  font-size: 0.85rem;
  font-weight: 500;
}
.course-type::first-letter {
  text-transform: capitalize;
}


@media screen and (max-width: 70rem) {
  .courses-list{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 53.3125rem) {
  .courses-list{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 34.4375rem) {
  .courses-list{
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }
  .courses-list li{
    width: 250px;
  }
}