.error-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.error-container img {
  max-width: 400px;
  width: 100%;
}

.error-container h3 {
    color: #733aff;
}
.error-container a {
    font-weight: 500;
    text-decoration: underline;
    transition: color .2s linear;
}

.error-container a:hover {
    color: #733aff;
}

@media screen and (max-width: 1024px) {
  .error-container img {
    max-width: 250px;
  }
}
