.course-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  width: 100%;
  max-width: 700px;
  padding-inline: 1rem;
  padding-block: 1.5rem;
  border-radius: 1rem;
  margin-block: 2rem;
}

.preview-image {
  width: 100%;
  height: 300px;
  background-color: rgba(128, 128, 128, 0.377);
  border-radius: 0.5rem;
}
.preview-image img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-field label {
  font-weight: bold;
  text-transform: capitalize;
}

.form-field input,
.form-field select,
.form-field textarea {
  height: 40px;
  padding-inline: 0.5rem;
  font-weight: 500;
  border-radius: 0.5rem;
  border: 2px solid rgba(0, 0, 0, 0.452);
}
.form-field input:focus,
.form-field select:focus,
.form-field textarea:focus {
  border: 2px solid #733aff;
  outline: none;
}

.course-form input[type="file"] {
  all: unset;
  display: none;
}

.form-field input::first-letter,
.form-field select::first-letter,
.form-field textarea::first-letter {
  text-transform: capitalize;
}

.form-field textarea {
  min-height: 150px;
  padding-block: 0.5rem;
}

.img-lable {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #733aff;
  color: #733aff;
  font-size: 0.9rem;
  border-radius: 0.5rem;
  height: 40px;
  cursor: pointer;
  transition: opacity 0.2s linear, background 0.2s linear;
}
.empty {
  border: 2px solid red;
  color: red;
  opacity: 0.8;
}
.empty:hover {
  opacity: 1;
}

.full {
  border: 2px solid green;
  color: green;
}

.form-field p::first-letter {
  text-transform: capitalize;
}

.form-field p {
  font-weight: bold;
  color: red;
}

.is-hidden {
  display: none;
}

.course-form > button {
  height: 40px;
  background-color: #733aff;
  border: 2px solid #733aff;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 0.4rem;
  margin-top: 10px;
  transition: background 0.2s linear, color 0.2s linear;
  cursor: pointer;
}

.course-form > button:hover {
  color: #733aff;
  background-color: white;
}
.form-title,
.form-sub-title {
  text-align: center;
}
.form-sub-title {
  margin-top: 0.5rem;
  color: #733aff;
  font-weight: bold;
  font-size: 0.9rem;
}

.wrong-content {
  border: 2px solid red !important;
}
.wrong-content:focus {
  border-radius: 2px solid red !important;
}

.add-new-section {
  width: fit-content;
  background-color: dodgerblue !important;
  border: 2px solid dodgerblue !important;
  padding-inline: 1rem;
}
.add-new-section:hover {
  color: dodgerblue !important;
  background-color: white !important;
}

.new-sections {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.new-sections div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.new-section-title{
  color: #733aff;
}


.global-error{
  font-weight: bold;
  text-align: center;
  color: red;
  text-transform: capitalize;
}