header {
  padding: 2rem;
}

header > div {
  width: 100%;
}
header > div > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header > div > div > div {
  font-weight: bold;
  color: #733aff;
  font-size: 1.2rem;
  line-height: normal;
}

header > div > div > div {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

header button {
  display: flex;
  align-items: center;
  background-color: transparent;
  gap: 0.5rem;
  border-radius: 0.3rem;
}

header button img {
  width: 10px;
}

.button {
  padding-inline: 0.5rem;
  padding-block: 0.3rem;
  border-radius: 0.2rem;
  font-weight: bold;
  cursor: pointer;
}

.button::first-letter {
  text-transform: uppercase;
}

.blue {
  border: 2px solid #733aff;
  color: #733aff;
  border-radius: 0.3rem;
  transition: background 0.2s linear, color 0.2s linear;
}
.blue:hover {
  border: 2px solid white;
  color: white;
  background-color: #733aff;
}

.blue:hover img {
  filter: invert(99%) sepia(38%) saturate(201%) hue-rotate(176deg)
    brightness(112%) contrast(100%);
}

.muted {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
}
