@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", monospace;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  background-color: whitesmoke;
}

.max-content {
  max-width: 90rem;
  width: 100%;
}

.parent-c {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
}

.no-p {
  padding-block: 0 !important;
}

.blue-icon {
  filter: invert(30%) sepia(79%) saturate(5937%) hue-rotate(251deg)
    brightness(101%) contrast(102%);
}

@media screen and (max-width: 53.3125rem) {
  .parent-c {
    padding-inline: 1rem;
  }
  
  .back{
    padding-inline: 1rem;
  }
}

.header {
  background-color: white;
  padding-block: 1rem;
}

.header > div a span {
  color: #733aff;
}

.header > div a {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 2rem;
}

.header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header > div > div button {
  padding-inline: 1.5rem;
  padding-block: .1rem;
  background-color: #733aff;
  border: 2px solid #733aff;
  border-radius: 0.3rem;
  text-transform: capitalize;
  color: white;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.2s linear, color 0.2s linear;
  font-size: 1.02rem;
}

.header > div > div button:hover {
  background-color: white;
  color: #733aff;
}

.back{
  padding: 2rem;
  padding-bottom: 0;
  margin: auto;
}

.back button{
  width: fit-content;
  display: flex;
  align-items: center;
  gap: .5rem;
  font-weight: 500;
  opacity: .8;
  transition: opacity .2s linear, scale .2s linear;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.back button img{
  transform: rotate(180deg);
  width: 18px;
}

.back button:hover{
  opacity: 1;
  scale: 1.05;
}

.course-actions {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.course-actions a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding-inline: 1rem;
  padding-block: 0.2rem;
  border-radius: 0.5rem;
  text-transform: capitalize;
  font-weight: 500;
  border: 2px solid black;
  background-color: black;
  text-decoration: none !important;
  color: white !important;
  transition: background 0.2s linear, color 0.2s linear;
  cursor: pointer;
}
.course-actions a:first-child {
  align-items: baseline;
}

.course-actions a img {
  width: 16px;
}

.course-actions a:hover {
  color: black !important;
  background-color: white;
}
.course-actions a:hover > img {
  filter: invert(99%) sepia(5%) saturate(247%) hue-rotate(114deg)
    brightness(113%) contrast(100%);
}