@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Geist", monospace;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}

.parent-c {
  display: flex;
  align-items: center;
  justify-content: center;
}

.blue-icon {
  filter: invert(60%) sepia(55%) saturate(5067%) hue-rotate(160deg)
    brightness(103%) contrast(83%);
}
